<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{ post.title }}</mat-card-title>
    <mat-card-subtitle
      >Posted at
      {{ post.created_at.seconds * 1000 | date: "short" }}</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <p>{{ post.content }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button color="primary" (click)="updateLikes(+1)">
      <mat-icon>favorite</mat-icon>
      <span *ngIf="isLiked()"> {{ post.loveIts }}</span>
    </button>
    <button mat-icon-button color="accent" (click)="updateLikes(-1)">
      <mat-icon>thumb_down_alt</mat-icon>
      <span *ngIf="isDisliked()"> {{ -post.loveIts }}</span>
    </button>
    <button
      mat-icon-button
      color="warn"
      (click)="deletePost()"
      style="float: right;"
    >
      <mat-icon>delete_forever</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
